# Template files that should not be pushed.
src/template-files/build
src/template-files/package-lock.json
src/template-files/node_modules

# Node modules.
node_modules

# Javascript files.
dist
