/*
  It's recommended not to change these properties.
  They are used to prettify the extension's popup.
---------------------------------------------------
*/
html {
  min-height: 100%;
}
body {
  overflow-x: hidden;
}
body,
#root {
  width: 99%; /* 99% so that there is a distance from the scrollbar */
  height: 100%;
}
body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
body::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}
body::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
body::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
}
/*
---------------------------------------------------
*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}
