:root {
  --primary-color: #7979d9;
  --primary-color-darker: #6a6ac2;
}

div.App {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.App .title {
  text-align: center;
}
.App .topic {
  border-bottom: 2px solid var(--primary-color);
  width: fit-content;
  padding-bottom: 5px;
}

.App h2,
.App h3,
.App p {
  margin: 10px 0;
}

.App .key {
  font-weight: bold;
  color: white;
  background: var(--primary-color);
  padding: 3px 8px;
  margin: 0 5px;
  border-radius: 10px;
  font-size: 0.8em;
}

.App button {
  padding: 15px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}
.App button:hover {
  background-color: var(--primary-color-darker);
}
